Repository ninenine/babytrack: changes, and which pre-commit hooks are due for each by the changed paths.
All: gosec, golangci-lint, go-mod-tidy, eslint, prettier

gosec:
  name: Gosec (Go security)
  entry: gosec -exclude-dir=web -exclude=G304 -severity=medium ./...
  language: system
  pass_filenames: false

golangci-lint:
  name: Golangci-lint (Go linting)
  entry: golangci-lint run --fix
  language: system
  pass_filenames: false

go-mod-tidy:
  name: Go Mod Tidy
  entry: go mod tidy
  language: system
  pass_filenames: false

eslint:
  name: ESLint
  entry: bash -c 'cd web && pnpm eslint --fix $(echo "$@" | sed "s|web/||g")'
  language: system
  pass_filenames: true

prettier:
  name: Prettier
  entry: bash -c 'FILES=$(echo "$@" | sed "s|web/||g"); [ -n "$FILES" ] && cd web && pnpm prettier --write $FILES || true'
  language: system
  pass_filenames: true

fix: resolve typescript errors in test files
  web/src/db/sync.test.ts
  web/src/stores/family.store.test.ts
  web/src/test/mocks/handlers.ts
Due: eslint

ci: add release workflow for tagged versions
  .github/workflows/release.yml
Due: none

feat: display build version in settings page
  cmd/server/main.go
  internal/app/router.go
  internal/app/version.go
  web/src/lib/constants.ts
  web/src/pages/settings/SettingsPage.tsx
Due: gosec, golangci-lint, eslint

ci: create empty web_dist folder instead of building
  .github/workflows/ci.yml
Due: none

style: use british spelling in codebase
  .golangci.yml
  cmd/server/main.go
  internal/app/server.go
  internal/appointment/handler_test.go
  internal/appointment/model.go
  internal/appointment/repo.go
  internal/appointment/repo_test.go
  internal/appointment/service.go
  internal/appointment/service_test.go
  internal/auth/google_test.go
  internal/jobs/appointment.go
  internal/jobs/appointment_test.go
  internal/jobs/scheduler_test.go
  internal/jobs/sleep.go
  internal/notes/handler_test.go
  internal/notifications/handler.go
  internal/notifications/handler_test.go
  internal/notifications/hub_test.go
  internal/vaccination/repo.go
Due: gosec, golangci-lint

fix(e2e): mock version api endpoint in tests
  web/e2e/fixtures.ts
  web/e2e/settings.spec.ts
Due: none

chore: update go packages
  go.mod
  go.sum
Due: go-mod-tidy

chore: add dependabot configuration
  .github/dependabot.yml
Due: none

docs: add badges to readme
  README.md
Due: none

docs: add security policy
  SECURITY.md
Due: none

docs: add mit license
  LICENSE
Due: none

chore: update license
  LICENSE
Due: none

fix(security): resolve codeql alerts
  .github/workflows/ci.yml
  internal/auth/handler.go
Due: gosec, golangci-lint

feat(family): add update, leave, and delete family endpoints
  internal/family/handler.go
  internal/family/handler_test.go
  internal/family/repo.go
  internal/family/service.go
  internal/family/service_test.go
Due: gosec, golangci-lint

feat(settings): add family management card for rename, leave, delete
  web/src/components/settings/ManageFamilyCard.tsx
  web/src/components/settings/index.ts
  web/src/pages/settings/SettingsPage.tsx
  web/src/stores/family.store.ts
Due: eslint

test(e2e): add child and family management tests
  web/e2e/fixtures.ts
  web/e2e/settings.spec.ts
Due: none

fix(settings): persist child changes via api calls
  web/src/components/settings/ChildFormDialog.tsx
  web/src/components/settings/ManageChildrenCard.tsx
  web/src/lib/constants.ts
Due: eslint

fix(api): use full url for token refresh endpoint
  web/src/lib/api-client.test.ts
  web/src/lib/api-client.ts
Due: eslint

Path conditions:
  gosec: any of: \.go$
  golangci-lint: any of: \.go$
  go-mod-tidy: any of: go\.(mod|sum)$
  eslint: any of: ^web/src/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^web/src/.*\.css$
